# Infragistics private-feed npm credentials for building the History grid with the
# licensed @infragistics packages (no watermark). Generate the token at
# https://account.infragistics.com/access-tokens.
# Leave IG_NPM_TOKEN unset to build the public trial (watermarked) grid.
# Copy this file to .env and fill in the values — .env is gitignored, never commit it.
IG_NPM_TOKEN=
IG_NPM_USERNAME=
IG_NPM_EMAIL=
